.btn-sound {
  margin: 3rem auto;
  display: block;
  border: 0;
  width: 86px;
  color: #fff;
  background: #a4c7e0;
  font-size: 3rem;
  padding: 0.5rem 1rem;
  border-radius: 50%;
}

.btn-sound:focus {
  outline: 0;
}