@mixin card($color) {
  color: $color;
}

.card-box {
  flex: 0 0 10%;
  margin: 10px;
}

.cards {
  box-sizing: border-box;
  text-align: center;
  font-size: 5rem;
  border: 2px solid #545454;
  border-radius: 8%;
  padding: 0.3rem;
}

.cards:hover {
  cursor: pointer;
}

.card-green {
  @include card(#8bc53f)
}

.card-blue {
  @include card(#18bad4);
}

.card-pink {
  @include card(#f272ab);
}

.card-purple {
  @include card(#a965ab);
}

.card-ocean {
  @include card(#84c99d);
}

.card-red {
  @include card(#c63e3e);
}

.card-yellow {
  @include card(#cfb811);
}

.card-orange {
  @include card(#fa9318);
}

.card-back {
  @include card(#fff);
  background: #17a2b8;
}